/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-color-page: rgb(0, 0, 0);
  --bg-image: url(../images/cover-image-dark.png);
  --main-title-color: rgb(219, 0, 255);/*цвет заголовки фокус н1*/
  --shadow-color: rgb(255, 0, 112); /*тень заголовок и ссылки*/
  --decorate-element-color: rgb(255, 0, 112); /*REC и уголки*/
  --button-color: rgb(255, 0, 112); /*кнопки*/
  --section-title-color: rgb(255, 0, 112); /*заголовки секций*/
  --accent-title-color: rgb(0, 0, 40); /*текст заголовка в заливке*/
  --accent-title-fill: rgb(255, 0, 112); /*заливка заголовка*/
  --text-color: rgb(241, 178, 206); /*текст в карточке*/
}

.theme-dark .rec {
  display: block;
}

@media (prefers-color-scheme: dark) {
  :root.theme-dark {
    --bg-color-page: rgb(0, 0, 0);
    --bg-image: url(../images/cover-image-dark.png);
    --main-title-color: rgb(219, 0, 255);/*цвет заголовки "фокус/не фокус"*/
    --shadow-color: rgb(255, 0, 112); /*тень заголовок и ссылки*/
    --decorate-element-color: rgb(255, 0, 112); /*REC и уголки*/
    --button-color: rgb(255, 0, 112); /*кнопки*/
    --section-title-color: rgb(255, 0, 112); /*заголовки секций*/
    --accent-title-color: rgb(0, 0, 40); /*текст заголовка в заливке*/
    --accent-title-fill: rgb(255, 0, 112); /*заливка заголовка*/
    --text-color: rgb(241, 178, 206); /*текст в карточке*/
  }

  .rec {
    display: block;
  }
}