/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-color-page: rgb(0, 0, 0);
  --bg-image: url(../images/cover-image.png);
  --font-family: 'IBM Plex Mono';
  --font-size: 18px;
  --main-title-color: rgb(219, 0, 255);/*цвет заголовки фокус н1*/
  --shadow-color: rgb(255, 0, 112); /*тень заголовок и ссылки*/
  --decorate-element-color: rgb(255, 0, 112); /*REC и уголки*/
  --button-color: rgb(255, 0, 112); /*кнопки*/
  --section-title-color: rgb(255, 0, 112); /*заголовки секций*/
  --accent-title-color: rgb(0, 0, 40); /*текст заголовка в заливке*/
  --accent-title-fill: rgb(255, 0, 112); /*заливка заголовка*/
  --text-color: rgb(241, 178, 206); /*текст в карточке*/
}